*Combine seed tweets with perspective scores and rt count*

In [1]:
import os
import pandas as pd

In [2]:
perspective_files = os.listdir('perspective/processed/')
perspective_files.remove('.DS_Store')

In [3]:
scores = []
for file in perspective_files:
    scores.append(pd.read_csv('perspective/processed/'+file))
    
scores = pd.concat(scores).drop_duplicates('id').reset_index(drop=True)
len(scores)

12159

In [4]:
tweets_files = os.listdir('data/processed/seed_tweets')
tweets_files.remove('.DS_Store')

In [5]:
seed_tweets = []
for file in tweets_files:
    seed_tweets.append(pd.read_csv('data/processed/seed_tweets/'+file))
    
seed_tweets = pd.concat(seed_tweets).drop_duplicates('id').reset_index(drop=True)
len(seed_tweets)

12159

In [ ]:
#seed_tweets[~seed_tweets.id.isin(scores.idx)].to_csv('missing_scores_perspective.csv',index=False)

In [7]:
scores.head()

,TOXICITY,SEVERE_TOXICITY,IDENTITY_ATTACK,INSULT,PROFANITY,SEXUALLY_EXPLICIT,THREAT,FLIRTATION,ATTACK_ON_AUTHOR,ATTACK_ON_COMMENTER,INCOHERENT,INFLAMMATORY,LIKELY_TO_REJECT,OBSCENE,SPAM,UNSUBSTANTIAL,id
0,0.080124,0.049021,0.102999,0.046171,0.056571,0.114028,0.373874,0.319785,0.004876,0.036226,0.696336,0.027067,0.653939,0.016055,0.936072,0.389155,id_1297324263834357760
1,0.099685,0.032998,0.042040,0.099741,0.050562,0.041229,0.092885,0.093073,0.222980,0.263313,0.455719,0.424939,0.234779,0.071644,0.043177,0.779730,id_1297326327079600129
2,0.183945,0.032857,0.096355,0.114652,0.085983,0.128627,0.085204,0.305911,0.152013,0.189293,0.537730,0.349895,0.314664,0.124938,0.134135,0.778563,id_1297329277348839424
3,0.439848,0.216092,0.271077,0.368546,0.265282,0.208238,0.584913,0.342048,0.834105,0.020448,0.647839,0.788281,0.716906,0.068637,0.019818,0.580261,id_1297335695132958720
4,0.805183,0.484504,0.469085,0.875402,0.649270,0.060277,0.218490,0.109615,0.769045,0.911894,0.242709,0.743190,0.601544,0.027811,0.008582,0.527302,id_1297338514057695233

In [8]:
seed_tweets = seed_tweets.merge(scores[['id','TOXICITY']], how='left'); len(seed_tweets)

12159

In [9]:
seed_tweets.head()

,id,screen_name,user_id,text,rt_from_screen_name,rt_from_user_id,rt_from_id,qt_from_screen_name,qt_status,in_reply_to_screen_name,...,mentions,datetime,rt_type,url,trunc_url,hashtags,photos,videos,gifs,TOXICITY
0,id_1283193325323988993,PrisonPlanet,18643437,A pub landlord in the UK has installed an elec...,NaN,NaN,NaN,NaN,NaN,NaN,...,set(),2020-07-15 00:15:03,NaN,['https://summit.news/2020/07/15/pub-landlord-...,['summit.news'],NaN,[],[],[],0.338564
1,id_1283194363728797701,politicalite,306610942,HELP US STAY ONLINE: Support News That Support...,NaN,NaN,NaN,NaN,NaN,NaN,...,{'politicalite'},2020-07-15 00:19:11,NaN,['https://www.politicalite.com/support-news-th...,['politicalite.com'],NaN,[],[],[],0.068272
2,id_1283194689999572998,PrisonPlanet,18643437,"Anyone else notice that post-corona, the cashl...",NaN,NaN,NaN,NaN,NaN,NaN,...,set(),2020-07-15 00:20:29,NaN,NaN,NaN,NaN,[],[],[],0.129195
3,id_1283205526227222529,PrisonPlanet,18643437,Black Lives Matter protesters invaded a restau...,NaN,NaN,NaN,NaN,NaN,NaN,...,set(),2020-07-15 01:03:32,NaN,['https://summit.news/2020/07/15/black-lives-m...,['summit.news'],NaN,[],[],[],0.609851
4,id_1283241036521730050,charliekirk11,292929271,Hillary Clinton today:\n\n“Teachers shouldn’t ...,NaN,NaN,NaN,NaN,NaN,NaN,...,set(),2020-07-15 03:24:39,NaN,[],[],NaN,[],[],[],0.358540

In [10]:
seed_tweets.columns

Index(['id', 'screen_name', 'user_id', 'text', 'rt_from_screen_name',
       'rt_from_user_id', 'rt_from_id', 'qt_from_screen_name', 'qt_status',
       'in_reply_to_screen_name', 'in_reply_to_status', 'mentions', 'datetime',
       'rt_type', 'url', 'trunc_url', 'hashtags', 'photos', 'videos', 'gifs',
       'TOXICITY'],
      dtype='object')

In [ ]:
seed_tweets.to_csv('all_seed_tweets_with_scores.csv', index=False)